<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Comments</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/one-page-wonder.min.css" rel="stylesheet">
  <link href="css/beats.css" rel="stylesheet" type="text/css"/>
  <link href="css/metro-gnome.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" type="text/css" href="css/component.css" />
</head>

<body style="padding:120px" ng-app="popComment">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Metro-Gnome</a>
      <a class="navbar-nav navbar-text col-9 d-none"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" id="signin_button">
            <a class="nav-link" data-toggle="modal" data-target="#login_modal">Log In</a>
          </li>
          <li class="nav-item" id="popularbeats">
            <a class="nav-link" href="popularbeats.html" id="popularbeatsLink">Popular Beats</a>
          </li>
          <li class="nav-item" id="profile_button">
            <a class="nav-link" href="profile.html" id="profileLink">Profile</a>
          </li>
          <li class="nav-item d-none" id="signout_button">
            <a class="nav-link" href="/signout/">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- src: https://www.w3schools.com/bootstrap4/tryit.asp?filename=trybs_modal&stacked=h-->
<div class="container">
  <!-- The Modal -->
  <div class="modal fade in" id="login_modal">
      <div class="modal-dialog">
          <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                  <h2 class="col-11 modal-title text-center">Log In</h2>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <form class="form-group">
                  <!-- Modal body -->
                  <div class="modal-body">
                      <!-- Login body -->
                      <input type="text" name="username" class="form-control" placeholder="Enter a username" required/>
                      <input type="password" name="password" class="form-control" placeholder="Enter a password" required/>
                      <br>
                      <a  href="/auth/facebook"><div class="facebook-login" ></div></a>
                  </div>
                  <div class="alert"></div>
                  <!-- Modal footer -->
                  <div class="modal-footer">
                      <button id="signin" name="action" class="btn btn-custom">Sign in</button>
                      or <button id="signup" name="action" class="btn btn-custom">Sign up</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>


  <div class="container" ng-controller="CommentController">

      <div class="row">
        <div class="col ">
          <div id="messages" ng-repeat="comment in filteredComments">
            <div class="message">
              <div class="message_user">
                <div class="message_username">{{comment.username}}</div>
              </div>
              <div class="message_content">{{comment.content}}</div>
              <div ng-cloak ng-show="deleteAccess(comment.username)" id="{{comment._id}}" class="delete-icon icon" ng-click="deleteComment(comment._id)"></div>
            </div>
            </div>
        </div>
        
      </div>
      <div ng-cloak ng-show="loggedin" class="row margin15px" id="nextprevbutton">
        <div class="col offset-5">
          <button type="button" ng-disabled="firstPage" ng-click="goBack()" class="btn btn-secondary">Previous</button>
          <button type="button" ng-disabled="lastPage" ng-click="goForward()" class="btn btn-secondary">Next</button>
        </div>
      </div>
        
      <form  ng-cloak ng-show="loggedin" ng-submit="submit()" class="col" id="textform">
        <div class="row margin15px">
            <textarea class="col" ng-model="commentSubmit" placeholder="Enter your message..."></textarea>
        </div>
        <div class="row" class="margin-15px">
          <div class="col-8">
              <button type="submit" class="btn btn-primary">Post your message</button>
          </div>
        </div>
        
      </form> 
  </div>





  



  <!-- Footer -->
  <footer class="fixed-bottom py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">
          <a href="/about.html" class=" text-white">About</a>  |  <a href="/team.html" class=" text-white">Team</a>  |  <a href="/credits.html" class=" text-white">Credits</a> | <a href="https://termsfeed.com/privacy-policy/12230206cac4c63c21098298fa0c3757" class=" text-white">Privacy</a>
      </p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="js/api.js"></script>
  <script src="js/comments.js"></script>
  <script src="js/static.js"></script>
  <script src="js/login.js"></script>

</body>

</html>
