<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Popular Beats</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/one-page-wonder.min.css" rel="stylesheet">
  <link href="css/beats.css" rel="stylesheet" type="text/css"/>
  <link href="css/metro-gnome.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" type="text/css" href="css/component.css" />

  <!--script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script-->

</head>

<body style="padding:120px" ng-app="popBeats">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Metro-Gnome</a>
      <a class="navbar-nav navbar-text col-9 d-none"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" id="signin_button">
            <a class="nav-link" data-toggle="modal" data-target="#login_modal">Log In</a>
          </li>
          <li class="nav-item" id="popularbeats">
            <a class="nav-link" href="popularbeats.html" id="popularbeatsLink">Popular Beats</a>
          </li>
          <li class="nav-item" id="profile_button">
            <a class="nav-link" href="profile.html" id="profileLink">Profile</a>
          </li>
          <li class="nav-item d-none" id="signout_button">
            <a class="nav-link" href="/signout/">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- src: https://www.w3schools.com/bootstrap4/tryit.asp?filename=trybs_modal&stacked=h-->
<div class="container">
  <!-- The Modal -->
  <div class="modal fade in" id="login_modal">
      <div class="modal-dialog">
          <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                  <h2 class="col-11 modal-title text-center">Log In</h2>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <form class="form-group">
                  <!-- Modal body -->
                  <div class="modal-body">
                      <!-- Login body -->
                      <input type="text" name="username" class="form-control" placeholder="Enter a username" required/>
                      <input type="password" name="password" class="form-control" placeholder="Enter a password" required/>
                      <br>
                      <a  href="/auth/facebook"><div class="facebook-login" ></div></a>
                  </div>
                  <div class="alert"></div>
                  <!-- Modal footer -->
                  <div class="modal-footer">
                      <button id="signin" name="action" class="btn btn-custom">Sign in</button>
                      or <button id="signup" name="action" class="btn btn-custom">Sign up</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

	<div>
      <div class="container mt-5">
        <div class="row align-content-center">
          <div class="col-12 p-5">
              <div id="sequencer" class="container"></div>
              <div id="controller" class="container mt-2 p-2 border-top"></div>
          </div>
        </div>
      </div>
	</div>

  <div class="container" ng-controller="beatController">
    <div class="row justify-content-center" id="format-beats" >
      <div class="col-xs-2 icon back" ng-click="goBack()" ></div>
      <div class="col-xs-2" ng-repeat="beat in beats" >
        <div class="col-xs-12 tile">
          <div class="tile-info" >Author: {{beat.username}}</div>
          <div class="play-cont">
            <span class="helper"></span>
            <div id="play-{{beat._id}}" class="play-button" ng-click="playBeat(beat._id)"></div>
          </div>
          <table id="width-100">
            <tr>
              <td><div id="like-{{beat._id}}" class="minicon like" ng-click="sendLike(beat._id)"></div></td>
              <td><div id="chat-{{beat._id}}" ng-click="goToComments(beat._id)" class="minicon chat" ></div></td>
            </tr>           
          </table>
        </div>  
      </div>
    
      <div class="col-xs-2 icon forward" ng-click="goForward()" ></div>
    </div>


    <div class="row justify-content-center">
      <div class="dotstyle dotstyle-hop">
        <h2></h2>
        <ul>
          <li class="current"><a href="#" ng-click="goToPage(0)"></a></li>
          <li ng-repeat="dot in numOfDots"><a href="#" ng-click="goToPage(dot)"></a></li>
        </ul>
      </div>
    </div>
  </div>



  <!-- Footer -->
  <footer class="fixed-bottom py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">
        <a href="/about.html" class=" text-white">About</a>  |  <a href="/team.html" class=" text-white">Team</a>  |  <a href="/credits.html" class=" text-white">Credits</a>
      </p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>

  <script src="js/api.js"></script>
  <script src="js/popularbeats.js"></script>
  <script src="js/dots.js"></script>
  <script>
      window.onload = function() {
        
         [].slice.call( document.querySelectorAll( '.dotstyle > ul' ) ).forEach( function( nav ) {
         new DotNav( nav, {
           callback : function( idx ) {
             //console.log( idx )
           }
         } );
       } );
      };
     </script>
  <script src="js/static.js"></script>
  <script src="js/login.js"></script>

</body>

</html>
