/*----FORM TEMPLATE----*/

.complex_form{
    display: grid;
    padding:20px 10px 10px 10px;
}

.complex_form .form_title{
    font-size:20px;
    font-weight:bold;
    margin:-20px -10px 10px -10px;
    padding:10px 0px 10px 25px;
    color:white;
    background-color: #3C3D3F;
    border-radius: 7px 7px 0px 0px;
}

.complex_form .form_element{
     margin-bottom:10px;
     font-size: 20px;
     border-radius:10px;
     padding:5px 10px 5px 10px;
}

.show_hide{
    cursor: pointer;
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
}

.alert {
    padding: 0 0 0 0;
    color: red;
    font-size: 16px;
}

.sequencer_step {
    margin: 1px 1px 1px 1px;
    border: 1px solid;
    width: 5%;
}

.play{
    background-color: black;
}

.slider {
    -webkit-appearance: none;
    width: 100px;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}