<p> Welcome to your profile {{(firstName) ? firstName : _id}}! </p><br>
<form name="myForm" ng-submit="updateInfo()">
    <h6>User details</h6>
    <p> First name: <input type="text"  ng-model="firstName" placeholder="{{firstNamePlaceholder}}"></p>
    <p> Last name : <input type="text"  ng-model="lastName" placeholder="{{lastNamePlaceholder}}"></p>

    <h6>Set Email</h6>
    <p> Set email : <input type="email" name="email" ng-model="email" placeholder="{{emailPlaceholder}}"></p>
    <p class="text-danger" ng-show="myForm.email.$error.email">Invalid email address.</p>

    <h6>Set new password</h6>
    <p> Old password : <input type="password" ng-model="oldPass"  placeholder="Enter old password"></p>
    <p class='text-danger' ng-show='wrongPass'>Wrong old Password</p>
    <p> New password : <input type="password" ng-model="pass1" name="pass1" id="pass1" placeholder="Enter new password"></p>
    <p> Confirm new password : <input pass-check="pass1" type="password" ng-model="pass2"name="pass2" id="pass2" placeholder="Confirm new password"></p>
    <p class='text-danger' ng-show='myForm.pass2.$error.same'>Passwords do not match</p>

    <button id="changeProfile" type="submit" class="btn btn-success" ng-disabled="myForm.email.$error.email || myForm.pass2.$error.same">Submit</button>
</form>
