#show_comments{
    display: none;
    margin-top: 20px;
}

/*----COMMENT TEMPLATE + FORMATTING----*/

.comment{
    display: grid;
    grid-template-columns: auto 50px;
    grid-template-rows: 10% auto;
    border-radius: 5px;
    border-bottom: 1px #3C3D3F solid;
    padding:10px 10px 10px 10px;
}

.comment_author{
    font-size: 16px;
    font-weight: bold;
    grid-column: 1;
}

.comment_content{
    font-size: 18px;
    margin: 10px 0px 10px 0px;
    grid-column: 1 / span 2;
    grid-row: 2;
}

.comment_date{
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
}

.comment_delete{
    grid-column: 2;
    grid-row: 1/ span 2;
    background-position: top right;
    background-size: 50%;
}

#prev_page{
    grid-column: 2;
}

#next_page{
    grid-column: 4;
}

#comment_page{
    grid-column: 3;
}
